@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap&subset=cyrillic");
header {
  background: #FFFFFF;
  text-align: center;
}

header .logo {
  margin-top: 27px;
}

header .logo img {
  width: 159px;
}

header .clock {
  margin-top: 34px;
}

header .clock img {
  width: 50px;
}

header .clock table {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

header .clock table td {
  padding-left: 14px;
  text-align: right;
}

header .clock table td span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #414141;
}

header .phone .a1 {
  margin-top: 29px;
  text-align: right;
}

@media (max-width: 992px) {
  header .phone .a1 {
    text-align: center;
  }
}

header .phone .a1 a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #414141;
}

header .phone .a1 img {
  width: 45px;
  margin-right: 6px;
}

header .phone .mts {
  margin-top: 7px;
  text-align: right;
}

@media (max-width: 992px) {
  header .phone .mts {
    text-align: center;
  }
}

header .phone .mts a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #414141;
}

header .callback .btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  outline: none;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  width: 90%;
  height: 71px;
  background: #EF4722;
  border-radius: 11px;
  cursor: pointer;
  -webkit-box-shadow: 0px 13px 30px rgba(239, 71, 34, 0.39);
          box-shadow: 0px 13px 30px rgba(239, 71, 34, 0.39);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 992px) {
  header .callback .btn {
    width: 280px;
  }
}

header .callback .btn:hover {
  background: green;
}
